* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

li {
    list-style: none;
}

body {
    height: 100%;
    line-height: 1;
    background: white;
    width: 1610px;
    max-width: auto;
    margin: 0 auto;
}

.wrapper {
    max-width: auto;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

header .logo {
    margin-right: 150px;
}

header .search_field {
    display: flex;
    width: 668px;
    height: 53px;
    border-radius: 27px;
    background: #E9F1FA;
}

header .search_field img {
    margin-left: 15px;
    margin-top: 15px;
    width: 24px;
    height: 24px;
}

header .search_field form input {
    padding-left: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 606px;
    color: #18333E;
    outline: none;
    background: #E9F1FA;
}

header .setting {
    position: relative;
    margin-left: 62px;
    margin-right: 74px;
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background: #18333E;
}

header .setting img {
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 15px;
}

header .user-information {
    display: flex;
    align-items: center;
    border-left: 1px solid #B4BCC4;
    max-height: 53px;
}

header .user-information .marker {
    margin-left: 40px;
    margin-right: 17px;
}

header .user-information span {
    cursor: pointer;
    margin-right: 88px;
}

header .user-information .notification {
    position: relative;
    width: 53px;
    height: 53px;
    border: 1px solid #B4BCC4;
    border-radius: 100%;
}

header .user-information .notification form img {
    position: absolute;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
}

header .user-information .notification .notification-icon {
    position: absolute;
    background: orange;
    width: 10px;
    height: 10px;
    right: -2px;
    top: -7px;
    border-radius: 100%;
}

header .user-information .avatar {
    cursor: pointer;
    margin-left: 33px;
}

main {
    display: flex;
}

main nav {
    margin-top: 72px;
}

main nav li {
    display: flex;
}

main nav ul li {
    margin-bottom: 64px;
}

main nav ul li img {
    padding-left: 70px;
}

main nav ul li .selected-tab {
    background: #F9D44A;
    padding-right: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 0 30px 30px 0;
}

main nav ul li .selected-tab-link {
    margin-top: 25px;
}

main nav ul li a {
    color: #18333E;
    margin-left: 16px;
}

main nav .SingOut {
    margin-top: 210px;
}

main .Discover-World {
    margin-top: 58px;
    margin-left: 81px;
}

main .Discover-World h1 {
    font-size: 30px;
    color: #18333E;
}

main .Discover-World .news-filters {
    display: flex;
    margin-top: 18px;
}

main .Discover-World .news-filters li {
    margin-right: 57px;
    color: #18333E;
    font-size: 16px;
    cursor: pointer;
}

main .Discover-World .news-filters li:hover {
    color: orange;
    transition: .5s;
}

main .Discover-World .places-of-interest {
    display: flex;
}

main .Discover-World .places-of-interest li {
    margin-right: 30px;
    margin-top: 37px;
}

main .Discover-World .places-of-interest p {
    margin-top: 15px;
    font-size: 22px;
    color: #18333E;
    font-weight: 600;
}

main .Discover-World .places-of-interest .place-and-favorite-icon {
    position: relative;
}

main .Discover-World .places-of-interest .place-and-favorite-icon .places {
    border-radius: 30px;
    cursor: pointer;
}

main .Discover-World .places-of-interest .place-and-favorite-icon .favorite {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
}

main .Discover-World .places-of-interest .place-and-favorite-icon .favorite img {
    margin-top: 15px;
    margin-left: 13px;
}

main .Discover-World .places-of-interest #First {
    box-shadow: 0 5px 10px 1px #063248;
}

main .Discover-World .places-of-interest #Second {
    box-shadow: 0 5px 10px 1px #fe7400a8;
}

main .Discover-World .places-of-interest #Third {
    box-shadow: 0 5px 10px 1px #5d7ecf;
}

main .Discover-World .places-of-interest .rating {
    display: flex;
    align-items: center;
    margin-top: 11px;
}

main .Discover-World .places-of-interest .rating .marker {
    width: 14px;
    height: 16px;
}

main .Discover-World .places-of-interest .rating p {
    font-size: 16px;
    font-weight: 300;
    margin-left: 12px;
    margin-bottom: 10px;
}

main .Discover-World .places-of-interest .rating .stars-rating {
    margin-top: 10px;
}

main .Discover-World .Event-Dates {
    margin-top: 49px;
}

main .Discover-World .Event-Dates .heading {
    display: flex;
    align-items: center;
}

main .Discover-World .Event-Dates .heading h1 {
    font-size: 30px;
}

main .Discover-World .Event-Dates .heading span {
    cursor: pointer;
    margin-left: 460px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #B4BCC4;
    border-radius: 30px;
    font-size: 16px;
    color: #18333E;
    font-weight: 500;
}

main .Discover-World .Event-Dates .date {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .Discover-World .Event-Dates .date .current-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #18333E;
    border-radius: 32px;
    height: 111px;
    width: 64px;
    color: #FFFFFF;
}

main .Discover-World .Event-Dates .date .current-day img {
    margin-top: 1px;
    margin-bottom: 1px;
}

main .Discover-World .Event-Dates .date .current-day .date-number {
    font-size: 25px;
}

main .Discover-World .Event-Dates .date li {
    margin-right: 75px;
    margin-top: 64px;
}

main .Discover-World .Event-Dates .date li p {
    font-size: 16px;
}

main .Discover-World .Event-Dates .date li .date-number {
    margin-top: 11px;
    font-size: 25px;
}

main .Discover-World footer ul {
    display: flex;
}

main .Discover-World footer ul .middle-picture {
    margin-left: 45px;
    margin-top: 43px;
    margin-right: 45px;
}

main .Discover-World footer ul .middle-picture img {
    border-radius: 25px;
    box-shadow: 0 3px 5px 1px #a65961;
}

main .Discover-World footer ul .last-picture {
    margin-top: 43px;
}

main .Discover-World footer ul .last-picture img {
    border-radius: 25px;
    box-shadow: 0 3px 5px 1px #c1def9;
}

main .Discover-World footer ul #selected-event {
    display: flex;
    margin-top: 43px;
    max-width: 457px;
    max-height: 119px;
    background: #18333E;
    border-radius: 25px;
}

main .Discover-World footer ul #selected-event .picture {
    padding-left: 23px;
}

main .Discover-World footer ul #selected-event .names-and-rating {
    margin-left: 12px;
    margin-top: 36px;
}

main .Discover-World footer ul #selected-event .names-and-rating p {
    margin-left: 10px;
    font-size: 18px;
    color: #FFFFFF;
}

main .Discover-World footer ul #selected-event .names-and-rating .rating {
    display: flex;
    align-items: center;
}

main .Discover-World footer ul #selected-event .names-and-rating .rating p {
    margin-bottom: 10px;
    font-size: 14px;
}

main .Discover-World footer ul #selected-event .select-button {
    margin-left: 89px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 23px;
    cursor: pointer;
}

main .short-news .big-picture-travel-and-favorite-icon {
    position: relative;
}

main .short-news .big-picture-travel {
    margin-top: 58px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 1px #06645970;
}

main .short-news .favorite {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

main .short-news .favorite img {
    margin-top: 15px;
    margin-left: 13px;
}

main .short-news .big-picture-travel-and-favorite-icon ul {
    display: flex;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    bottom: 35px;
    left: 34px;
    right: 34px;
}

main .short-news .big-picture-travel-and-favorite-icon ul img {
    cursor: pointer;
}

main .short-news .big-picture-travel-and-favorite-icon ul li {
    margin-right: 5.5px;
    margin-left: 5.5px;
    margin-top: 12px;
    margin-bottom: 12px;
}

main .short-news .big-picture-travel-and-favorite-icon ul .first-picture {
    margin-left: 11.5px;
}

main .short-news .big-picture-travel-and-favorite-icon ul .last-picture {
    margin-right: 11.5px;
}

main .short-news .description .heading-and-read-icon {
    display: flex;
    margin-top: 25px;
}

main .short-news .description .heading-and-read-icon h1 {
    font-size: 30px;
    width: 170px;
    color: #18333E;
}

main .short-news .description .heading-and-read-icon img {
    margin-left: 204px;
    cursor: pointer;
}

main .short-news .description p {
    margin-top: 10px;
    font-size: 16px;
}

main .short-news .price-books {
    display: flex;
    align-items: center;
    margin-top: 56px;
}

main .short-news .price-books .price-tag {
    color: #18333E;
}

main .short-news .price-books .price-tag p {
    font-size: 16px;
}

main .short-news .price-books .price-tag h2 {
    font-size: 40px;
}

main .short-news .price-books span {
    font-size: 18px;
    color: white;
    background: #18333E;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 113px;
    border-radius: 30px;
    cursor: pointer;
}

main .short-news .picture-min {
    margin-top: 46px;
}

main .short-news .picture-min .picture {
    border-radius: 30px;
}

main .short-news .picture-min li {
    display: flex;
    margin-top: 50px;
}

main .short-news .picture-min li .country {
    margin-left: 6px;
    margin-top: 30px;
}

main .short-news .picture-min li .country h4 {
    font-size: 22px;
    color: #18333E;
    font-weight: 600;
}

main .short-news .picture-min li .country .marker {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #18333E;
    margin-top: 8px;
}

main .short-news .picture-min li .circle-favorite {
    position: relative;
    border-radius: 100%;
    background: #E9F1FA;
    width: 53px;
    height: 53px;
    margin-left: 62px;
    margin-top: 30px;
    cursor: pointer;
}

main .short-news .picture-min .circle-favorite .favorite-short-picture {
    position: absolute;
    bottom: 16px;
    left: 17px;
}

main .short-news .picture-min .second-short-picture .circle-favorite {
    margin-left: 72px;
}

main .short-news .picture-min .third-short-picture .circle-favorite {
    margin-left: 80px;
}